.slider-container .slick-prev:before,
.slider-container .slick-next:before {
  color: #FFFF;
  font-size: 22px; /* Tamanho das setas */
  padding: 10px; /* Adiciona padding interno nas setas */
}

.slick-prev, .slick-next {
    top: 50% !important; /* Centraliza verticalmente */
    transform: translateY(-50%); /* Ajuste fino da centralização */
    z-index: 1;
}

.slick-prev {
    left: 20px !important;
}

.slick-next {
    right: 40px !important;
}
